algoliasearch-django>=2.0,<3.0
django>=3.2.15,<3.2.19
asgiref==3.6.0
dj-database-url==1.2.0
django-database-url==1.0.3
psycopg2==2.9.5
gunicorn==20.1.0
djangorestframework
djangorestframework-simplejwt
pyyaml
requests
django-cors-headers
mysqlclient
psutil
Pillow
python-dotenv